@model VehicleRentingSystem.Models.ViewModels.PostVM

<div class=" ">
    @if (User.IsInRole("User"))
    {
        <div class=" text-center pt-2">
            <a asp-controller="Post_Car" asp-action="Create" class="btn" style="background: linear-gradient(to right, #2c3e50, #4ca1af); color:white">
                <i class="bi bi-plus-circle-dotted"></i>  Create new Post
            </a>
        </div>
    }
    @foreach (var post in Model.objPostCart)
    {
        <div class=" ">
            <div class=" p-2 ">
                <div class="p-1 ">
                    <div class="card " style="background: linear-gradient(to right, #83a4d4, #b6fbff);">


                        <div class="card-body text-white">
                            <div class="pl-1">
                                <p class="card-title h5 " style="color:#00FF33"><b style="color:white">Pickup Location:</b> @post.PickUpLocation</p>
                                <p class="card-title  text-danger"><b style="color:white">Dropout Location:</b> @post.DropOutLoaction</p>
                            </div>
                            <div class="pl-1">
                                <p>Number Of Passenger: <b>@post.NumberOfPassenger</b></p>

                            </div>
                            <div class="row pl-2">
                                <p class="text-black">@Html.Raw(post.Description)</p>
                            </div>


                        </div>

                        @if (User.IsInRole("User"))
                        {
                            <a asp-area="User" asp-controller="Post_Car" asp-action="BiddingHistory" asp-route-postId="@post.Id" class="btn form-control  btn-square btn-lg" style="height:50px; color:white;  background: linear-gradient(to right, #360033, #0b8793);">
                                Bidding history
                            </a>
                        }
                        else
                        {

                            <a asp-action="Auction" class="btn  form-control" style="background: linear-gradient(to right, #360033, #0b8793); color:white" asp-route-postId="@post.Id">
                                Go For Bid
                            </a>
                        }
                    </div>

                </div>

            </div>

        </div>

    }
</div>



